<div class="chat-container" >
    <div class="chat-messages">

        <div class="grid-gap-y-2" >

            <!-- CHAT MESSAGES -->
            <app-chat-message text="Por favor inserte texto a corregir" ></app-chat-message>
            
            @for( message of messages(); track $index ){
                @if( message.isGpt ){
                    <app-gpt-message-ortography [text]="message.text" [errors]="message.info!.errors" [userScore]="message.info!.userScore" ></app-gpt-message-ortography>
                }@else{
                    <app-my-message [text]="message.text" ></app-my-message>
                }
            }

            @if( isLoading() ){
                <app-typing-loader></app-typing-loader>
            }

        </div>
        
    </div>

    <!-- Message Box -->
    <app-text-message-box placeholder="Envia tu tranduccion" (onMessage)="handleMessage($event)" ></app-text-message-box>

</div>
